.corpoOrdina {
    margin-top: 40px;
    padding: 20px;

    display: grid;
    grid-template: 'a a a a b b' 10px
                   'a a a a b b' 10px
                   'a a a a b b' 10px;
}

.listaOrdina {
    grid-area: 'a';
}

.riepilogo {
    grid-area: 'b';
    background-color: #fff;
    border-radius: 10px;
    height: 50vh;
    width: 15vw;
    margin-top: 60px;
    position: fixed;
    left: 65vw;
}

.corpoLista {
    height: 30vh; 
    overflow-y: auto;  
    padding: 10px; 
    background-color: #490909; 
    border: 1px solid #00d80b; 
}

.bottoni{
    grid-area: 'c';
}

.add, .sub {
    background-color: #00d40b;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 5px;
    
}

h2 {
    font-size: 30px;
    text-align: center;
    margin-top: 35px;
    color: #000000;
}

h3 {
    font-size: 20px;
    margin-top: 35px;
    color: #000000;
}

.flexbox {
    display: block;
    justify-content: space-evenly;
    padding: 10px;
}

.flexitem {
    flex-grow: 1;
    width: 40vw;
    background-color: #ffffff;
    padding: 25px;
    justify-content: space-evenly;
    margin: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 
        "a a ."
        "b b c"; 
}

.Oggetto {
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: left;
    padding-top: 10px;
    grid-area: a;
    padding-left: 10px;
}

.Descrizione {
    font-size: 15px;
    font-style: normal;
    color: #7b1c1c;
    padding-top: 10px;
    text-align: left;
    margin-top: 25px;
    padding-top: 20px;
    grid-area: b;
    padding-left: 10px;
}

